<form method="POST" action="/cadastro">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    <br>
    <label for="sobrenome">Sobrenome</label>
    <input type="text" id="sobrenome" name="sobrenome">
    <br>

    <input type="submit" value="Enviar">
</form>

